{{> admin-menu active="analytics"}}
<section class="section">
  <div class="title is-4">Overview</div>
  <div class="box has-background-black-ter has-text-white-ter">
    <div class="columns">
      <div class="column is-one-fourth has-text-weight-bold">Total Users</div>
      <div class="column is-one-fourth">{{totalUsersNum}}</div>
      <div class="column is-one-fourth has-text-weight-bold">Total Spots:</div>
      <div class="column is-one-fourth">{{totalSpotsNum}}</div>
    </div>
    <div class="columns">
      <div class="column is-one-fourth has-text-weight-bold">Total Collections:</div>
      <div class="column is-one-fourth">{{totalCollectionsNum}}</div>
      <div class="column is-one-fourth has-text-weight-bold">Average Spots per Collection:</div>
      <div class="column is-one-fourth">{{averageSpotsPerCollection}}</div>
    </div>
  </div>
  <h2 class="title is-4">Users</h2>
  <div class="box has-background-black-ter has-text-white-ter">
    <div class="columns">
      <div class="column is-one-fourth has-text-weight-bold">Most Active:</div>
      <div class="column is-one-fourth">{{userWithMostSpots.user.firstName}} {{userWithMostSpots.user.lastName}}</div>
      <div class="column is-one-fourth has-text-weight-bold">Number of Spots:</div>
      <div class="column is-one-fourth">{{userWithMostSpots.spotsCount}}</div>
    </div>
  </div>
  <h2 class="title is-4">Collections</h2>
  <div class="box has-background-black-ter has-text-white-ter">
    <div class="columns">
      <div class="column is-one-fourth has-text-weight-bold">Longest:</div>
      <div class="column is-one-fourth">{{collectionWithMostSpots.collection.title}}</div>
      <div class="column is-one-fourth has-text-weight-bold">Number of Spots:</div>
      <div class="column is-one-fourth">{{collectionWithMostSpots.spotsCount}}</div>
    </div>
  </div>
</section>
