{{> menu isAdmin=true active="analytics"}}
<div class="title has-text-white-ter has-text-weight-semibold">Overview</div>
<div class="box has-background-black-ter">
  <div class="columns has-text-white-ter">
    <div class="column is-one-fourth has-text-weight-semibold">Total Users:</div>
    <div class="column is-one-fourth">{{totalUsersNum}}</div>
    <div class="column is-one-fourth has-text-weight-semibold">Total Spots:</div>
    <div class="column is-one-fourth">{{totalSpotsNum}}</div>
  </div>
  <div class="columns has-text-white-ter">
    <div class="column is-one-fourth has-text-weight-semibold">Total Collections:</div>
    <div class="column is-one-fourth">{{totalCollectionsNum}}</div>
    <div class="column is-one-fourth has-text-weight-semibold">Average Spots per Collection:</div>
    <div class="column is-one-fourth">{{averageSpotsPerCollection}}</div>
  </div>
</div>
<h2 class="title has-text-white-ter has-text-weight-semibold">Users</h2>
<div class="box has-background-black-ter">
  <div class="columns has-text-white-ter">
    <div class="column is-one-fourth has-text-weight-semibold">Most Active:</div>
    <div class="column is-one-fourth">{{userWithMostSpots.user.firstName}} {{userWithMostSpots.user.lastName}}</div>
    <div class="column is-one-fourth has-text-weight-semibold">Number of Spots:</div>
    <div class="column is-one-fourth">{{userWithMostSpots.spotsCount}}</div>
  </div>
</div>
<h2 class="title has-text-white-ter has-text-weight-semibold">Top Collection</h2>
<div class="box has-background-black-ter">
  <div class="columns has-text-white-ter">
    <div class="column is-one-fourth has-text-weight-semibold">Largest:</div>
    <div class="column is-one-fourth">{{collectionWithMostSpots.collection.title}}</div>
    <div class="column is-one-fourth has-text-weight-semibold">Number of Spots:</div>
    <div class="column is-one-fourth">{{collectionWithMostSpots.spotsCount}}</div>
  </div>
</div>